<div class="container text-center mt-3">
  <h1>Info about the person: {{item.name}}</h1>
  <img src="{{item.image}}" alt="{{item.name}}" class="col-lg-4" >
  <div>Company: {{item.source}}</div>
  <div>Money:{{item.worth}}</div>
  <div>Age:{{item.age}}</div>
  <a href="/vip">Back to list</a>
</div>